<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482587259419-fpgo2o75c61smiqj9mmnhacmejao41ta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482587259419-fpgo2o75c61smiqj9mmnhacmejao41ta</string>
	<key>API_KEY</key>
	<string>AIzaSyDDfMUzE23H3GvVJWTS-ASwOe7gyDLvXT0</string>
	<key>GCM_SENDER_ID</key>
	<string>482587259419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.candyShop</string>
	<key>PROJECT_ID</key>
	<string>candyshop-e1a60</string>
	<key>STORAGE_BUCKET</key>
	<string>candyshop-e1a60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482587259419:ios:642c746fb424aef4f73ebe</string>
</dict>
</plist>